# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# MonoDevelop
*.pidb

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
*.publish.xml

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Generated test output (Newman/Postman run results & reports)
tests/*-results.json
tests/newman-report*.html

# Others
*.log
*.vs/
.idea/
*.db
*.DS_Store

# Temporary files
~$*
*.tmp
*.bak
*.swp
*.sln.ide